.subscribe-button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
  }

  body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
  }

  header {
    margin-top: 20px;
  }

  .footer-widgets {
    display: flex;
    justify-content: space-between;
  }
  .footer-widgets {
    padding: 20px;
  }
